.item {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.link {
    margin-left: 10px;
    opacity: 1;
}

.icon {
    fill: var(--primary-color);
}

.collapsed {
    .link {
        opacity: 0;
        width: 0;
        transition: 0.2s opacity;
    }
}
