.InputWrapper {
    display: flex;
    align-items: center;
}

.placeholder {
    margin-right: 5px;
    color: var(--inverted-primary-color);
}

.input {
    background: none;
    color: var(--primary-color);
    border: 1px solid  var(--inverted-primary-color);
    border-radius: 5px;
    padding: 3px 7px;
    flex-grow: 1;

    &:focus {
        outline: none;
        animation: blink 2s forwards infinite;
    }
}

@keyframes blink {
    0% {
        border: 1px solid  var(--primary-color);
    }

    25% {
        border: 1px solid  var(--inverted-secondary-color);
    }

    50% {
        border: 1px solid  var(--secondary-color);
    }

    75% {
        border: 1px solid var(--primary-color);
    }

    100% {
        border: 1px solid  var(--secondary-color);
    }
}
