.app_contrast_theme {
    --bg-color: #faf9f9;
    --inverted-bg-color: #010609;
    --primary-color: #1cdf73;
    --secondary-color: #d93042;
    --inverted-primary-color: #4cb069;
    --inverted-secondary-color: #708f79;
}
