.app_dark_theme {
    --bg-color: #12002d;
    --inverted-bg-color: #eaffb6;
    --primary-color: #697310;
    --secondary-color: #9a6565;
    --inverted-primary-color: #004e88;
    --inverted-secondary-color: #5b2c83;
}
