.app.dark {
  --bg-color: #12002d;
  --inverted-bg-color: #eaffb6;

  --primary-color: #a19579;
  --secondary-color: #9a6565;
  --inverted-primary-color: #223646;
  --inverted-secondary-color: #471d6b;
}
