.app_green_theme {
    --bg-color: #a1cb0e;
    --inverted-bg-color: #f9fbf4;
    --primary-color: #2a774a;
    --secondary-color: #046c64;
    --inverted-primary-color: #216b04;
    --inverted-secondary-color: #819635;
}
