.app.light {
    --bg-color: #eaffb6;
    --inverted-bg-color: #12002d;
    --primary-color: #223646;
    --secondary-color: #471d6b;
    --inverted-primary-color: #a19579;
    --inverted-secondary-color: #9a6565;
}
