.navbar {
    width: 100%;
    height: var(--navbar-height);
    background: var(--inverted-bg-color);
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid var(--secondary-color);
}

.links {
    margin-left: auto;
}

.mainLink {
    margin-right: 15px;
}
